.align_center{
  text-align: center;
}

.main_content{
  padding-top: 50px;
}

.header_part{
  background-image: radial-gradient(transparent,#f4e4f2) , url('https://s3.amazonaws.com/cdn.designcrowd.com/blog/2018/May/5-Steps-to-Designing-an-Eye-Catching-Travel-Blog/DI_5-Steps-To-Designing-An-Eye-Catching-Travel-Blog_Banner_828x300.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 93vh;
  padding-top: 20px;
}

.header_content{
  margin: 20px;
  font-size: large;
}

.card{
   height: 330px;
   width: 250px;
   border-radius: 10px;
}

.img_continer{
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.imgs{
  opacity: 0.6;
 
}
.card_container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

.card_content{
  background-color: #E5D0E3;
  display: flex;
  align-items: center;
  padding: 12px;
}