.main_card_container{
  width: 60%;
  border: 1px solid #9e9e9e55;
  display: flex;
  column-gap: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: #E5D0E3;
}

.image_container{
   height: 200px;
   width: 200px;
   overflow: hidden;
   border-radius: 10px;
}

.card_image{
  object-fit: cover;
  width: 100%;
  height: 100%
}

.main_content_area{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.card_content{
  font-size: small;
  width: 100%;
  height: 120px;
}
.main_card_content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.my_buttons{
  outline: none;
  background-color: transparent;
  border: none;
}

.button_container{
  display: flex;
  justify-content: end;
  align-items: center;
  column-gap: 10px;
}