
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-style: normal;
}

main{
  background-color: #E7E5E5;
  min-height: 100vh;
  max-height: fit-content;
}

